body{
    margin:0px;
    padding: 0px;
}

#wrap {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(6, 1fr);
    background-color: #000000;
}

/* Home Page Title */

#titleHome {
    font-size: 2em;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
    font-family: montserrat, sans-serif, Arial;
    font-weight: 100;
    grid-column: 1/7;
}

/* Navigation Bar */

#homeNav {
    grid-column: 1 / 7; /* Spans all 6 columns */
    background-size: 140%;
    text-align: center;
}

#homeNavList {
    display: grid; /* Use grid for precise positioning */
    grid-template-columns: 1fr auto 1fr; /* Three columns: left, center, right */
    align-items: center; /* Vertically align items */
    justify-items: center; /* Horizontally center items in their grid cells */
    list-style: none;
    margin: 1em;
    margin-left: 3em;
    margin-right: 3em;
}

#homeNavList li:nth-child(1) {
    justify-self: start;
    padding: 1em;
    
}

#homeNavList li:nth-child(2) {
    justify-self: center;
    padding: 1em;
}

#homeNavList li:nth-child(3) {
    justify-self: end;
    padding: 1em;
}

#homeNav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2em;
    font-family: montserrat, sans-serif, Arial;
}


